html{
    background-color: #E1D9E4;
}
.navdiv{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
#navlist{
    list-style-type: none;
    padding: 0;
    margin-top: 250px;
    width: fit-content;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#navlist li{
    float: inline-end;
    width: 250px;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    margin: 20px;
    border: 1px solid whitesmoke;
    border-radius: 8px;

}
#navlist li a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
#navlist li a:hover:not(.active){
    background-color: white;
    color: #f2dadf;
    border-radius: 8px;
    border: white;
    
}
.img-fluid {
    width:99%;
    filter: blur(2px);
   
}

h1 {
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

#img {
    width: 200%;
    border-radius: 55px;
    padding-top: 20px;
}

table {
    width: 70%;
    margin-left: 100px;
}
table td tr{
    border: 3px solid black;
    border-collapse: collapse;
}
.content{
    display: flex;
    justify-content: space-around;
    padding-left: 250px;
    flex-direction: column;
}

thead {
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: white;
}
thead th {
    border-radius: 10px;
}